<%- include('layouts/header.ejs') %>
<%- include('layouts/navigation.ejs') %>
<div class="container">
    <!-- Content here -->
    <div class="col">
    <div class="row justify-content-around"> 
        <div class="col"> 
           <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
             incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
             ullamco laboris nisi ut aliquip ex ea text-align: center; 
           </p>
        </div> 
        <div class="col"> 
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                 incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                 ullamco laboris nisi ut aliquip ex ea text-align: center; 
               </p> 
        </div> 
    </div> 

    <div class="row justify-content-around"> 
        <div class="col"> 
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                 incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                 ullamco laboris nisi ut aliquip ex ea text-align: center; 
               </p> 
        </div> 
        <div class="col"> 
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                 incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                 ullamco laboris nisi ut aliquip ex ea text-align: center; 
               </p> 
        </div> 
    </div> 
    <div class="row justify-content-around"> 
        <div class="col"> 
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                 incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                 ullamco laboris nisi ut aliquip ex ea text-align: center; 
               </p>
        </div> 
        <div class="col"> 
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                 incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
                 ullamco laboris nisi ut aliquip ex ea text-align: center; 
               </p> 
        </div> 
    </div> 
  </div>
</div>

<%- include('layouts/footer.ejs') %>